<h5>About Katy</h5>
<p>Hello Players and Plus Ones alike! Many of you may know me as the friendly, albeit sometimes strong-willed girl who checks your IDs and gets you into our beloved bar as quickly and efficiently as possible. My work in our store really is only the tip of the iceberg to who I am and what I plan to do with my time on this Earth. Let’s dive just a bit deeper and rewind to give you lovelies a better understanding of what’s to come from Kitana’s contributions to Player 1.</p>
<div class="text-right"><%= link_to "read more", katy_corner_path(1) -%></div>