<div class="content">
	<div class="span12-12"><h2><i class="fa fa-pencil"></i> Create Entry <small>Filling out forms are great.</small></h2></div>
	<div class="span8-12">
		<%= render 'form' %>
	</div>

	<div class="span4-12">
		<h5>Admin Options</h5>
		<div class="dq-buttons">
			<%= link_to 'View Entry', katy_corner_path(@katy_corner), :class => "lnk-button full" %>
			<%= link_to 'Go Back to Katy\'s Corner', katy_corners_path, :class => "lnk-button full" %>
			<%= link_to 'Destroy Entry', @katy_corner, method: :delete, data: { confirm: 'Are you sure?' }, :class => "lnk-button full cancel" %>
		</div>
	</div>
</div>
