<div class="content">
	<div class="span12-12"><h2><i class="fa fa-pencil"></i> Edit Reward <small>Filling out forms are great.</small></h2></div>
	<div class="span8-12">
		<%= render 'form' %>
	</div>

	<div class="span4-12">
		<h5>Admin Options</h5>
		<div class="dq-buttons">
			<%= link_to 'Go Back to Rewards', rewards_path, :class => "lnk-button full back" %>
			<%= link_to 'Destroy Reward', @reward, method: :delete, data: { confirm: 'Are you sure? This will destory all items under this category as well. It is recommended to just change the visibilty of the category.' }, :class => "lnk-button full cancel delete" %>
		</div>
	</div>
</div>
