<div class="content">
	<div class="span12-12"><h2><i class="fa fa-user"></i> <%= "#{@user.first_name} #{@user.last_name}" -%> <small>aka <%= @user.username -%></small></h2></div>
	<div class="span8-12">
		<%= render 'shared/activity' %>
	</div>

	<div class="span4-12">
		<%= image_tag avatar_url(@user), :class => "fullwidth_image" %>
	</div>
</div>
