<h5>Search Drinks</h5>

<%= form_tag drinks_path, method: :get do %>
<div class="dq-form pad-bottom">
	<div class="field10-10"><%= text_field_tag :query, params[:query], :placeholder => "Search for a Drink" %></div>
	<div class="dq-buttons">
		<%= submit_tag "Search Drinks", name: nil %>
	</div>
</div>
<% end %>