<%= form_tag games_path, method: :get do %>
<div class="dq-form pad-bottom">
	<div class="field10-10"><%= text_field_tag :query, params[:query], :placeholder => "Search for a Game" %></div>
	<div class="dq-buttons">
		<%= submit_tag "Search Game", name: nil %>
	</div>
</div>
<% end %>