<h5>Want to play one?</h5>
<p>All games you see listed here are available to play on one of our consoles in the gaming lounge. To play a game just see the Game Master at the front of Player 1. Remember to check out a game/controller you must have an open tab at the bar and have at least two drinks per our on your tab.</p>
