<h5>Want to take a bottle home?</h5>
<p>Player 1 now has a To-Go option for those on the run or wanting to continue the party at home! Order by phone or with our lovely game tenders located in the front of the bar! You can order as few as one beer, or as many as you want, create your own sick pack, we've got you covered! All to-go orders will receive an additional 10% off their entire order!As an added bonus, Members who have reached new levels in our membership program will use their discount perks instead!</p>
<p>Call 407.778.4815 to order a bottle and come pick it up.</p>

<h5>Why only craft beers?</h5>
<p>The number one reason is <strong>craft beer tastes better</strong> than the "beer water" that is mass produced and mass marketed by the big beer companies. Craft beer tastes better because craft brewers spend their time focusing the quality of their beer rather than focusing on their marketing campaigns and stock prices.</p>
<p>Oh yeah! Craft beers can pack a punch. Most craft beers range from 5-10% ABV, but some can reach 20%, 30%, and even 40% ABV.</p>
<div class="dq-buttons pad-bottom">
	<%= link_to 'Beer Styles', beer_styles_path, :class => "lnk-button full" %>
</div>
