<div class="content">
	<div class="span12-12"><h2><i class="fa fa-pencil"></i> Edit Event <small>Filling out forms are great.</small></h2></div>
	<div class="span8-12">
		<%= render 'form' %>
	</div>

	<div class="span4-12">
		<h5>Admin Options</h5>
		<div class="dq-buttons">
			<%= link_to 'Go Back to Events', events_path, :class => "lnk-button full" %>
			<%= link_to 'Destroy Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "lnk-button full cancel" %>
		</div>
	</div>
</div>
