<% title "Bartender Choice" %>

<% if user_signed_in? %>
<div class="content">
	<div class="span12-12 text-center">
		<h4>Hey, Drink Master!<small>A random request...</small></h4>
	</div>
</div>
<% end %>