<% title "Food" %>
<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-cutlery"></i> Food<small>Your human. We understand.</small></h2></div>

	<div class="span6-12">
		<h4>Pizza<small>Powered by Dominos</small></h4>
		<ul class="unstyled lined">
			<li><div class="float-right">Menu Item</div>Price</li>
			<li><div class="float-right">$7.00</div><strong>Small 3 Topping Pizza</strong><p>Choose from options below</p></li>
			<li><div class="float-right">$10.00</div><strong>Medium 3 Topping Pizza</strong><p>Choose from options below</p></li>
			<li><strong>Meats</strong><p>Pepperoni, philly steak, beef, italian sausage, sliced italian, sausage, grilled chicken, bacon, ham, &amp; salami.</p></li>
			<li><strong>Vegetables</strong><p>Mushrooms, onions, green peppers, black olives, jalapeno peppers, diced tomatoes, banana peppers, roasted red peppers, &amp; spinach.</p></li>
			<li><strong>Other</strong><p>Pineapple, extra cheese, chedder, feta, white american cheese, &amp; parm-siago.</p></li>
		</ul>
	</div>
	
	<div class="span6-12">
		<h4>Chinese<small>Powered by Run &amp; Run</small></h4>
		<ul class="unstyled lined">
			<li><div class="float-right">Menu Item</div>Price</li>
			<li><div class="float-right">$8.00</div><strong>Fried Rice</strong><p>Shrimp, chicken, or pork</p></li>
			<li><div class="float-right">$8.00</div><strong>Lo-mein</strong><p>Shrimp, chicken, or pork</p></li>
			<li><div class="float-right">$3.00</div><strong>Egg Rolls</strong><p>Shrimp, vegetable, or pork</p></li>
			<li><div class="float-right">$4.00</div><strong>Crab Rangoon</strong><p>Comes with 3 rangoons</p></li>
		</ul>
	</div>

</div>