<% title "Beer. Games. Music." %>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<pre>
Database

	Categories
	- Name
	- Description
	- Visible
	- Area
	- Order

	Drinks
	- Name
	- Brewery
	- ABV
	- Description
	- Price
	- Visible
- Graphic
	- Style
	- Call Out
	- Category
	- Tracker
	
Ratings
- drink_id
- user_id
- rating

	Games
	- Name
	- Description
- CoverArt
	- Released_at
	- Developer
	- Publisher
	- Players
	- Trailer

	Blog
	- Title
	- Brief
	- Body
- Image1
- Image2
- Image3
- Video
- Visible
- Posted_at

	Events
	- Title
	- Description
	- Starts_at
	- Ends_at
	- Valid_Sunday
	- Valid_Monday
	- Valid_Tuesday
	- Valid_Wednesday
	- Valid_Thursday
	- Valid_Friday
	- Valid_Saturday

Photos
- Description
- Image

Discounts
- Code
- Title
- Used
- User_ID
- Points

	Users
	- First Name
	- Last Name
	- Email
	- Password
	- Username
	- EmpCode
	- Facebook
	- Had_Membership
	- Lifetime_Points
	- Used_Points

	Timeline
	- User_ID
	- Nature
	- Game_ID
	- Drink_ID
	- Friend_ID
</pre>