<% title "Music" %>
<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-music"></i> Music<small>Sampling of what we play.</small></h2></div>

	<div class="span12-12">
		<ul class="unstyled musicbar2">
			<!-- <li><img src="GRAPHIC" /><strong>TITLE</strong><a type="amzn" asin="B000012345">Amazon MP3</a> | <a href="#">iTunes</a></li> -->

			<li><img src="http://ecx.images-amazon.com/images/I/41i%2BKSpXT4L._SL500_AA280_.jpg" /><strong>Weezer (Green Album)</strong><a type="amzn" asin="B000W22NLK">Amazon MP3</a> | <a href="https://itunes.apple.com/us/album/weezer-green-album/id109661?uo=4&at=10ls4A">iTunes</a></li>
			<li><img src="https://images-na.ssl-images-amazon.com/images/I/51m0fnMQLDL._SL280_.jpg" /><strong>Scary Monsters and Nice Sprites - Skrillex</strong><a type="amzn" asin="B004GGJ8KM">Amazon MP3</a> | <a href="https://itunes.apple.com/us/album/scary-monsters-nice-sprites/id409001929?uo=4&at=10ls4A">iTunes</a></li>
			<li><img src="https://images-na.ssl-images-amazon.com/images/I/51jI6RhAPbL._SL280_.jpg" /><strong>The Best of Sugar Ray</strong><a type="amzn" asin="B0009F66IQ">Amazon MP3</a> | <a href="https://itunes.apple.com/us/album/the-best-of-sugar-ray/id72792999?uo=4&at=10ls4A">iTunes</a></li>
			<li><img src="https://images-na.ssl-images-amazon.com/images/I/61CR9J69WJL._SL280_.jpg" /><strong>Make Believe</strong><a type="amzn" asin="B000850JP8">Amazon MP3</a> | <a href="https://itunes.apple.com/us/album/make-believe/id255443281?uo=4&at=10ls4A">iTunes</a></li>
			<li><img src="https://images-na.ssl-images-amazon.com/images/I/51%2BhNRjZDVL._SL280_.jpg" /><strong>Make Yourself</strong><a type="amzn" asin="B0000296JB">Amazon MP3</a> | <a href="https://itunes.apple.com/us/album/make-yourself/id187454164?uo=4&at=10ls4A">iTunes</a></li>
			<li><img src="https://images-na.ssl-images-amazon.com/images/I/41Upfpq4XnL._SL280_.jpg" /><strong>Random Access Memories</strong><a type="amzn" asin="B00C061I3K">Amazon MP3</a> | <a href="https://itunes.apple.com/us/album/random-access-memories/id617154241?uo=4&at=10ls4A">iTunes</a></li>
		</ul>
	</div>
	
	<SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplay1orla-20%2F8005%2Fb86e05ab-6792-43c7-9165-cbe4c90df7d6"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplay1orla-20%2F8005%2Fb86e05ab-6792-43c7-9165-cbe4c90df7d6&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</div>
