<% title "Rewards" %>
<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-trophy"></i> Rewards<small>Your part of a special group.</small></h2></div>

	<div class="span6-12">
		<h4>What's a Citizen?<small>Cause sometimes you need to know.</small></h4>
		<p>The Player 1 Citizen program allows you to earn points by playing games, drinking, and more. Points that are earned can used towards many things. And we make it easy to share what you earn.</p>
		<p><strong>For example, </strong> Let's say you want to redeem some points for free cover for you friend. Just choose the reward and you will be given a unique code. Just email, tell, text, or however else you want to send it to your friend. When they come into Player 1 they give that code to the game master at the front and they get their cover waved.</p>
		
		<p>Some rewards available are:
			<ul>
				<li>Free covers</li>
				<li>Swag</li>
				<li>Discounts</li>
			</ul>
		</p>
	</div>

	<div class="span6-12">
		<h4>How to Redeem?<small>Yes cause you want to use them.</small></h4>
		<p>Every reward will be given a unique code. Just show this code to game master at the front of Player 1 or bartender depending on the reward and that's it!</p>
		<p><strong>Remember,</strong> once a code is entered it can not be reused or refunded.</p>
	</div>
	
</div>