<% title "Rewards" %>
<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-key"></i> Player 1 Rules<small>Age restrictions also.</small></h2></div>

	<div class="span6-12">
		<h4>Age Restrictions</h4>
		<ul class="pad">
			<li>All ages are allowed before 5pm.</li>
			<li>Under 18 MUST be accompanied by an adult. 5 per adult (age 25 or over).</li>
			<li>Underage guests must stay with their guardian at all times.</li>
			<li>Under 21 must leave by 6pm.</li>
		</ul>

		<h4>Dress Code</h4>
		<ul class="pad">
			<li>Clean appropriate attire.</li>
			<li>No sunglasses, hoodies, or overly baggy clothes.</li>
			<li>No openly displayed evidence of gang affiliation.</li>
			<li>CosPlayer’s are welcome, but no large props, masks, helmets, or weapons of any kind unless per a pre-authorized event. </li>
		</ul>
	</div>

	<div class="span6-12">
		<h4>Gamer Etiquette</h4>
		<ul class="pad">
			<li>No aggressive or disruptive behavior will be tolerated whatsoever.</li>
			<li>If playing an arcade game and someone else is waiting to play, finish your game and allow them a turn.</li>
			<li>No abusive language. Smack talk is one thing, But don’t cross the line.</li>
		</ul>

		<p>No Smoking. Drink Responsibly.</p>
	</div>
	
</div>