<% title "Rewards" %>
<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-trophy"></i> VIPs<small>Your part of a special group.</small></h2></div>

	<div class="span6-12">
		<h4>What's a VIP?<small>Cause sometimes you need to know.</small></h4>
		<p>Player 1 VIP Memberships give you vip access into Player 1, which means you don't have to wait in line to enter, just have your ID and Membership card ready. Membership also allows you enter in for daily discounts, birthday surprises and more.</p>
		
		<p>Some rewards available are:
			<ul>
				<li>Free cover everytime you visit</li>
				<li>Free swag</li>
				<li>Discounts on your tabs</li>
			</ul>
		</p>
	</div>

	<div class="span6-12">
		<h4>Reward Levels?<small>What am I gonna get.</small></h4>
		<ul>
			<li><div class="float-right">20</div> Free Cover for a Guest!</li>
			<li><div class="float-right">45</div> Free Cover for a Guest!</li>
			<li><div class="float-right">50</div> Free Cover for a Guest!</li>
			<li><div class="float-right">65</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">80</div> Free Cover for a Guest!</li>
			<li><div class="float-right">100</div> Free Cover for a Guest!</li>
			<li><div class="float-right">140</div> One time 20% off your tab</li>
			<li><div class="float-right">160</div> Free Cover for a Guest!</li>
			<li><div class="float-right">200</div> $5.00 off your tab</li>
			<li><div class="float-right">230</div> Free Cover for a Guest!</li>

			<li><div class="float-right">250</div> $2.00 Off Your Next Drink</li>
			<li><div class="float-right">300</div> Free Cover for a Guest!</li>
			<li><div class="float-right">315</div> Free Cover for a Guest!</li>
			<li><div class="float-right">325</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">330</div> Free Cover for a Guest!</li>
			<li><div class="float-right">345</div> Free Cover for a Guest!</li>
			<li><div class="float-right">350</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">360</div> Free Cover for a Guest!</li>
			<li><div class="float-right">375</div> Free Cover for a Guest!</li>
			<li><div class="float-right">390</div> Free Cover for a Guest!</li>

			<li><div class="float-right">400</div> Free Cover for a Guest!</li>
			<li><div class="float-right">420</div> Free Cover for a Guest!</li>
			<li><div class="float-right">425</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">435</div> Free Cover for a Guest!</li>
			<li><div class="float-right">450</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">450</div> Free Cover for a Guest!</li>
			<li><div class="float-right">500</div> Free Player 1 T-shirt</li>
			<li><div class="float-right">550</div> Free Cover for a Guest!</li>
			<li><div class="float-right">575</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">600</div> Free Cover for a Guest!</li>

			<li><div class="float-right">650</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">700</div> $30 in retail store credit</li>
			<li><div class="float-right">750</div> Free Cover for a Guest!</li>
			<li><div class="float-right">800</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">825</div> Free Cover for a Guest!</li>
			<li><div class="float-right">900</div> Free Cover for a Guest!</li>
			<li><div class="float-right">935</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">1000</div> 10% always when you visit</li>
			<li><div class="float-right">1050</div> $1.00 Off Your Next Drink</li>
			<li><div class="float-right">1100</div> Free Cover for a Guest!</li>

			<li><div class="float-right">&nbsp;</div> Plus more...</li>
		</ul>
	</div>
	
</div>