<% title "Rewards" %>
<!-- Standard Content -->
<div class="content">
	<div class="span12-12"><h2><i class="fa fa-trophy"></i> VIPs<small>Your part of a special group.</small></h2></div>

	<div class="span6-12">
		<h4>What's a VIP?<small>Cause sometimes you need to know.</small></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p>Some rewards available are:
			<ul>
				<li>Free cover everytime you visit</li>
				<li>Free swag</li>
				<li>Discounts on your tabs</li>
			</ul>
		</p>
	</div>

	<div class="span6-12">
		<h4>Reward Levels?<small>What am I gonna get.</small></h4>
		<ul>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
			<li><div class="float-right">Points</div> Item</li>
		</ul>
	</div>
	
</div>