<ul>
	<% (1..@total_taps.to_i).each do |i| %>
		<li>
			<strong>Tap #<%= i -%></strong><br/>
			<% if @drinks.where(:tab_index => i).count > 0 %>
				<p>Found Drink on this tap.</p>
			<% else %>
				<p>Nothing on this tap. Check back.</p>
			<% end %>
		</li>
	<% end %>
</ul>