<% title "Gallery" %>

<div class="content">
	<div class="span12-12"><h2><i class="fa fa-camera"></i> Gallery<small>A little slice of us.</small></h2></div>
	<div class="span8-12">
		<ul>
			<% @galleries.each do |gallery| %>
			<li class="float-left"><%= image_tag gallery.image, alt: gallery.caption, :class => "fullwidth_image" %></li>
			<% end %>
		</ul>
	</div>
	<div class="span4-12">
		<div class="dq-buttons">
		<% if admin_signed_in? %>
			<h5>Admin Options</h5>
			<div class="dq-buttons">
				<%= link_to 'Edit Image', edit_gallery_path(@gallery), :class => "lnk-button full edit" %>
			</div>
		<% end %>
			<%= link_to 'Go Back to Gallery', galleries_path, :class => "lnk-button full" %>
		</div>
	</div>
	
</div>