/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {background: #f6f8f8; color: #000;}

.katy_blog img, .fullwidth_image {width: 100%; border: 1px solid #999;}
.katy_blog img, .fullwidth_image.pad {margin-bottom: 10px;}

.full_btn {display: block; margin: 0; text-align: center; color: #fff; background: #E16D53; padding: 10px 5px; border: 1px solid #999; text-decoration: none;}
.full_btn:hover {background: #8F3B3D; color: #fff;}

.pad-top {margin-top: 20px;}
.pad-bottom {margin-bottom: 20px;}
.callout_box {background: #E16D53; padding: 10px 10px 10px 10px; color: #fff; margin-bottom: 20px;	border: 1px solid rgba(255,255,255,.5);}
.callout_box p {margin-bottom: 0;}
.callout_box ul {margin-bottom: 0;}
.callout_box a {color: #fff;}
.thumbnail-image {float: left; width: 70px; margin-right: 5px;}
.thumbnail-image img {max-width: 70px; max-height: 50px;}
	
#pull, #home_btn {display: none;}
#header_logo {float: left; background: url(/includes/header_logo.png) no-repeat; display: block; width: 198px; height: 50px; white-space: nowrap; text-indent: 100%; overflow: hidden;}
header {background: #080d12; border-bottom: 1px solid rgba(0,0,0,.5); box-shadow: 0px 3px 3px rgba(0,0,0,.2);}
header nav {float: right; margin-top: 16px; color: #bbb;}
header nav li {float: left; margin-left: 12px;}
header span {line-height: 25px;}
header nav a {border-bottom: 2px solid transparent; color: #000; display: block; font-size: 14px; line-height: 18px; padding-top: 2px; text-decoration: none;}
header nav a:hover {border-bottom-color: #c02942; color: #000;}
header nav .small {margin-top: 1px;}

footer {padding-top: 100px;}
footer .coins li {margin-bottom: 10px; display: block;}
footer .coins a {text-decoration: none; display: block; background: #fff; color: #080d12; line-height: 30px;}
footer .coins a i {display: block; text-align: center; color: #fff; background: #609190; float: left; margin-right: 10px; width: 30px; height: 30px; line-height: 30px;}
footer .coins a:hover {color: #c02942;}

.notice, .alert, .mobile-notice {padding: 10px;}
.mobile-notice {background: #000; color: #fff;}
.mobile-notice a {color: #fff;}
.notice {background: #9CD5CC; color: #000;}
.alert {background: #E16D53;}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Star Rating Bars */
.rating {text-align: center; display: block; margin-bottom: 20px; color: #fff;}
.rating a, .rating a:hover {text-decoration: none; color: #fff; display: block;}
.rating a:hover, .rating .checked a {color: #191e23;}
.rating .star {display: inline-block; border: 2px solid #fff; width: 30px; height: 30px; border-radius: 15px; line-height: 28px; text-align: center; margin: 0 10px;}
.rating .checked, .rating.user .star:hover {background: #fff; color: #191e23;}

.thegist {padding: 10px 0; margin-bottom: 20px; border-top: 1px solid rgba(255,255,255,.5);}
.essentials h3 {margin-top: 10px;}
.essentials {overflow: auto; margin: 0; padding: 0; width: 100%;}
.essentials li {float: right; background: #60a8c0; height: 100px; margin-left: 10px; text-align: center; line-height: 20px; color: #fff;}
.essentials .title {float: left; background: none; margin-left: 0; text-align: left; line-height: 100%; color: #fff;}
.essentials i {display: block; width: 100px; font-size: 50px; height: 60px; line-height: 60px; margin-top: 10px;}
.essentials a, .essentials a:hover, .essentials a i, .essentials a:hover i {color: #fff !important; text-decoration: none;}
	
.hero {background: #000 url(/includes/homepage_hero.jpg) no-repeat center -200px; text-shadow: 3px 3px 3px #000;}
.hero #hero_slogan {overflow: hidden; text-align: left; width: 500px;}
.hero #hero_slogan h2 {font-size: 28px; line-height: 100%; margin-top: 140px; text-shadow: 3px 3px 3px #000;}
.hero #hero_slogan h1 {font-size: 100px; line-height: 80%; text-shadow: 3px 3px 3px #000;}
.hero a {color: #fff;}

.fb-share-button {position: relative; top: -6px;}

.musicbar li {float: left; margin: 1px;}
.taplist li {display: inline-block; width: 100%;}

.musicbar2 li {max-width: 20%; float: left; text-align: center; border: 5px solid transparent;}
.musicbar2 img {width: 100%;}
.musicbar2 li strong {font-size: 12px; display: block; overflow: hidden; white-space: nowrap;}
.musicbar2 li a {font-size: 12px;}

.musicbar2 li strong:after {
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(25,30,35,0) 0%, rgba(25,30,35,1) 99%, rgba(25,30,35,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(25,30,35,0)), color-stop(99%,rgba(25,30,35,1)), color-stop(100%,rgba(25,30,35,1)));
    background: -webkit-linear-gradient(left, rgba(25,30,35,0) 0%,rgba(25,30,35,1) 99%,rgba(25,30,35,1) 100%);
    background: -o-linear-gradient(left, rgba(25,30,35,0) 0%,rgba(25,30,35,1) 99%,rgba(25,30,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,30,35,0) 0%,rgba(25,30,35,1) 99%,rgba(25,30,35,1) 100%);
    background: linear-gradient(left, rgba(25,30,35,0) 0%,rgba(25,30,35,1) 99%,rgba(25,30,35,1) 100%);
}


.badgebar li {
	border: 10px solid transparent;
	*border-left: 0;
	*border-right: 0;
	display: inline-block;
	zoom: 1; *display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
	margin-left: -0.4%;
	width: 20%;	
}

/* Dark Mode */
body.dark {background: #191e23; color: #ddd;}
.dark a {color: #60a8c0;}
.dark .hero {color: #fff;}
.dark header {background: #080d12; border-bottom: 1px solid rgba(255,255,255,.5); box-shadow: 0px 3px 3px #000;}
.dark header nav a {color: #fff;}
.dark header nav a:hover {color: #fff;}
.dark .link-black {color: #fff;}
.dark .full_btn {background: #CF532D; border-color: #dbdbdb}
.dark blockquote {border-color: #dbdbdb; color: #A5B3AD;}
.dark strong {color: #fff;}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {color: #fff;}
.dark h2 {color: #fff;}
.dark footer {margin-top: 100px; padding-top: 20px;}
.dark footer {background: #080d12; border-top: 1px solid rgba(255,255,255,.5); box-shadow: 0px -3px 3px #000;}

/* Light Mode */
body.light {background: #e6e8e8;}
.light header {border-bottom: 1px solid rgba(0,0,0,.5); box-shadow: 0px 3px 3px rgba(0,0,0,.2);}
/*.light header a {font-size: 12px;}
.light header nav a {margin-top: 1px;}
*/.light #header_logo {
	background: none;
	font-family: FontAwesome;
	font-weight: normal;
	font-size: 50px;
	line-height: 50px;
	width: 50px;
	text-indent: 0;
	text-decoration: none;
	color: #000;
}
.light #header_logo:before {
	content: "\f015";
	text-decoration: none;
}



/* -------------------------------------------------
	Mobile Modifiers
------------------------------------------------- */
	/* Smartphones */
	@media only screen and (max-width : 768px) {
		header {padding-top: 0; padding-bottom: 0;}
		header .content {border: none; margin-bottom: 0;}
		.hero #hero_slogan h2 {padding-top: 0; margin-top: 0px !important;}
		.header h1 {font-size: 24px; line-height: 24px;}
		.header h1.oneline {line-height: 48px;}
		#pull, #home_btn {display: block; width: 40px; height: 50px; line-height: 50px; font-size: 40px; text-align: right; float: right; color: #fff; text-decoration: none;}
		
		.hero #hero_slogan {width: auto !important;}
		.hero #hero_slogan h2 {font-size: 24px; line-height: 100%;}
		.hero #hero_slogan h1 {font-size: 90px; line-height: 80%;}
		
		header nav {display: none; clear: both; float: none; overflow: auto;}
		header nav li {float: none; margin: 10px 0;}
		header nav a {color: #080d12 !important; background: #fff; display: inline-block; width: 100%; float: left; text-align: center; font-size: 20px; padding: 10px 0;}
		header nav .small {width: 50%;}
		header nav li.small {display: inline-block; float: left; text-align: center; padding: 10px 0; margin-bottom: 2px;}
		header nav .nav-membername {width: 100% !important;}
		
		.badgebar li {width: 33%;}
		.musicbar2 li {max-width: 50%;}
		
	}
	
	/* Tablets */
	@media only screen and (min-width : 768px) and (max-width : 1024px) {
	}