#mobile-site {background: #080d12;}
#mobile-site header {background: none; border: none; box-shadow: none;}
#mobile-site .dq-buttons {text-align: left; margin: 0; padding: 0;}
#mobile-site .lnk-button, #mobile-site button {width: 50%; text-align: center; display: inline-block; float: left; border: 3px solid #080d12; margin: 0;}
#mobile-site .lnk-button.full {width: 100%; float: none;}
#mobile-site .lnk-button i, #mobile-site button i  {display: block; font-size: 40px;}
#mobile-site button i {padding: 1px 0;}
.dq-buttons .transparent {background: rgba(255,255,255,.1);}
#mobile-site .field10-10 {padding: 2px 3px;}
#mobile-site .content {width: 100%;}
