/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Muli|Montserrat);

body, input, button {color: #000; font-family: 'Muli', Helvetica, Arial, sans-serif;}
body {font-size: 14px; line-height: 20px;}

p + p {margin-top: 10px;}
p.lead {font-size: 18px; line-height: 24px;}

strong, b {font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400;}

.tiny {font-size: 10px;}
small, .small {font-size: 12px;}
.large {font-size: 18px;}
.float-left {float: left; margin-right: 20px;}
.float-right {float: right; margin-left: 20px;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.bump-top {margin-top: 40px;}
.bump-bottom {margin-bottom: 40px;}

.link-white {color: #fff; text-decoration: none;}
.link-black {color: #000; text-decoration: none;}

h1, h2, h3, h4, h5, h6 {font: 16px/1.5 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; margin: 0; margin-bottom: 5px; text-transform: uppercase;}
h1 {font-size: 60px; line-height: 60px;}
h2 {font-size: 48px; line-height: 48px;}
h3 {font-size: 36px; line-height: 36px;}
h4 {font-size: 24px; line-height: 24px;}
h5 {font-size: 18px; line-height: 18px;}
h6 {font-size: 12px; line-height: 12px;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {opacity: .5; line-height: 12px; font-size: 12px; display: block;}
h3 i {font-size: 80%;}
h4 ~ h4 {margin-top: 20px;}
h4 ~ h5 {margin-top: 20px;}

ul, ol {margin: 0 0 10px 24px;}
ul ul, ol ol, ul ol, ol ul {margin-bottom: 0;}
ul.unstyled {list-style: none; margin-left: 0px;}
ul.pad li {margin-bottom: 20px;}
ul.lined li {padding: 3px;}
ul.lined li:nth-child(even) {background: rgba(0,0,0,.1);}

blockquote {margin: 20px; color: #555; border-left: 1px solid #000; padding: 10px 0 10px 20px;}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset
{
	margin-bottom: 18px;
}

.mini-bottom-margin {margin-bottom: 5px;}

header a {font-family: 'Muli', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;}