<!-- Standard Content -->
<div class="content">
	<% if @cat_type == "drinks" %>
		<% title "Drinks" %>
		<div class="span12-12"><h2><i class="fa fa-beer"></i> Drinks<small>Gaming without poitions...wrong.</small></h2></div>
	<% elsif @cat_type == "games" %>
		<% title "Games" %>
		<div class="span12-12"><h2><i class="fa fa-gamepad"></i> Games<small>Achievement Unlocked!</small></h2></div>
	<% end %>

	<div class="span12-12">
		<h4>Choose a menu item<small>Don't worry it's not the end of the world.</small></h4>
		
		<% if @cat_type == "drinks" %>
			<%= render 'shared/drink_search_form' %>
		<% elsif @cat_type == "games" %>
			<%= render 'shared/game_search_form' %>
		<% end %>
		
		<ul class="unstyled">
			<% @categories.where(:visible => true).each do |category| %>
				<li><strong class="large"><%= link_to category.name, category_path(category) -%></strong><p class="small"><%= category.description -%></p></li>
			<% end %>
		</ul>
	</div>

</div>

